
<div class="container-fluid">
    <div class="row main-content">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center our-products">
            <b> <span>VISIT US <span style="color: black;">NOW</span> </span></b>
           
          </div>
          
        <img src="../../assets/visit-us-now/20180423_141654@1X.png" class="img-bg" alt="">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center bottle-pro ">
            <hr class="contain-line">
            <hr class="contain-line2">
      
            <p class="legend-kluiz1">
              <img src="../../assets/visit-us-now/Forma 1@1X.png" style="position: relative;top: 315px;" width="18" height="33"
                alt="" />
            </p>
          </div>
          <div class="row ">
              <div class="col-md-6 location-div">
                <div class="details">
                    <div class="belqiue">
                        Belgique
                    </div>
                    <div class="location-address">
                        <table >
                            <tr>
                                <td><i class="fa fa-map-marker fa-siz" aria-hidden="true"></i></td>
                                <td>Chemin fils 2, 7750 Anseroeul,<br> Belgique.</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-phone fa-siz" aria-hidden="true"></i></td>
                                <td>0032 474 67 65 65</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-envelope fa-siz" aria-hidden="true"></i></td>
                                <td>info@kluiz.be</td>
                            </tr>
                        </table>
                    </div>

                </div>
              </div>
              <div class="col-md-6 location-map-div">
                  <img src="../../assets/visit-us-now/logo copy@1X.png" class="logo" alt="">
            </div>
          </div>
    </div>
  
</div>