<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white header">
  <a class="navbar-brand" [routerLink]="['/signIn']"></a>
  <img src="~/../assets/logo/logo@1X.png" class="logo-size" width="200" height="160" alt="">

  <div class="navbar-collapse">
    <div class="navbar-nav mx-auto">
      <a class=" nav-item nav-link"> <span class="pr-5 menu-items border-right">ABOUT US</span> </a>
      <a class=" nav-item nav-link "> <span class="pr-5 menu-items pl-3 border-right">FEATURES</span></a>
      <a class=" nav-item nav-link "> <span class="pr-5 menu-items pl-3 border-right">OUR WINES</span></a>
      <a class=" nav-item nav-link"> <span class="pr-5 menu-items pl-3 border-right">BLOG</span></a>
      <a class=" nav-item nav-link"> <span class="pr-5 menu-items">CONTACT US</span></a>
    </div>
  </div>
</nav>