<div class="container-fluid  main-footer">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 mx-auto">
            <ul class="nav text-uppercase">
                <li><a class="border-right" style=" color: #B09142;" href="#home">Home</a></li>
                <li><a class="border-right" href="#about">About Us</a></li>
                <li><a class="border-right" href="#clients">Features</a></li>  
                <li><a class="border-right" href="#contact">our wines</a></li>
                <li><a class="border-right" href="#contact">blog</a></li>
                <li><a href="#contact">contact</a></li>
              </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 mx-auto">
            <ul class="nav1 text-uppercase">
                <li><a  href="#home"><i class="fa fa-facebook "></i></a></li>
                <li><a href="#about"><i class="fa fa-google"></i></a></li>
                <li><a  href="#clients"><i class="fa fa-twitter"></i></a></li>  
                <li><a  href="#contact"><i class="fa fa-linkedin"></i></a></li>
              </ul>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-12" style="color:#646162; font-size:14px;">
            © 2018 kluiz. All Rights Reserved
        </div>
    </div>

</div>