.main-footer {
    height: 200px;
    background-color: white;
}
.nav {
    list-style-type: none;
    text-align: center;
    margin-left: 295px;
    padding: 0;
  }
  .nav1 {
    list-style-type: none;
    text-align: center;
    margin-left: 35px;
    padding: 0;
  }
  a {
    text-decoration: none;
   color: #646162;
   padding-right: 25px;
  }
  
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }
  .nav1 li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }
  i {
      font-size: 18px;
  }