<div class="container-fluid header-product">
  <div class="row ">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center our-products">
        <b> <span>OUR <span style="color: black;">PRODUCTS</span> </span></b>
     
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center bottle-pro ">
      <hr class="contain-line">
      <hr class="contain-line2">

      <p class="legend-kluiz1">
        <img src="../../assets/contain-site/Forma 1@1X.png" style="position: relative;top: 40px;" width="18" height="33"
          alt="" />
      </p>
    </div>
  </div>

  <div class="row">
    <!-- <div class="col-md-12 col-sm-12 col-xs-12 prod"> -->
      <div class="offset-md-1 col-md-5 col-sm-5 col-xs-5 prod-1">
        <img src="../../assets/our-products/Layer 23@1X.png" class="left-prod-1" alt="">
        <div class="tripple-div">
          <span class="font-trip">TRIPLE</span>
        </div>
        <div class="black-bottle1">
            <img src="../../assets/our-products/{@1X.png" alt="">
        </div>
        <div class="black-bottle">
            <img src="../../assets/our-products/Layer 16@1X.png" alt="">
        </div>
        <div class="instruct">
          <table style="
           position: relative;
           left: 100px;
           bottom: 20px;
           border:none;">
            <tr>
              <td class="td-text">33CL</td>
              <td style="padding: 0px;">
                <span class="group-line-dot">
                  <div class="td-lines"></div>
                  <span style="font-size: 30px;">.</span>
                </span>

              </td>
            </tr>
            <tr>
              <td class="td-text">64°</td>
              <td style="padding: 0px;">
                <span class="group-line-dot">
                  <div class="td-lines1"></div>
                  <span style="font-size: 30px;  height: 11px; color: #f02424;">.</span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="td-text">100% Belgian </td>
              <td style="padding: 0px;">
                <span class="group-line-dot">
                  <div class="td-lines"></div>
                  <span style="font-size: 30px;">.</span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="td-text">10°</td>
              <td style="padding: 0px;">
                <span class="group-line-dot">
                  <div class="td-lines"></div>
                  <span style="font-size: 30px;">.</span>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class=" col-md-5 col-sm-5 col-xs-5 prod-2">
        <img src="../../assets/our-products/Layer 23@1X.png" class="left-prod-1" alt="">
        <div class="tripple-div">
          <span class="font-trip1 text-uppercase">Liedericq</span>
        </div>
        <div class="black-bottle-right1">
            <img src="../../assets/our-products/{@1X.png" alt="">
        </div>
        <div class="black-bottle-right">
            <img src="../../assets/our-products/Layer 3@1X.png" alt="">
        </div>
        <div class="instruct">
          <table style="
           position: relative;
           right: 100px;
           float: right;
           bottom: 20px;
           border:none;">
            <tr>
              <td style="padding: 0px;">
                <span class="group-line-dot">
                  <span style="font-size: 30px;">.</span>
                  <div class="td-lines"></div>
                </span>

              </td>
              <td>33CL</td>
            </tr>
            <tr>
              <td style="padding: 0px;">
                <span class="group-line-dot">
                  <span style="font-size: 30px;  height: 11px; color: #f02424;">.</span>
                  <div class="td-lines1"></div>
                </span>
              </td>
              <td >64°</td>

            </tr>
            <tr>
              <td style="padding: 0px;">
                <span class="group-line-dot">
                  <span style="font-size: 30px;">.</span>
                  <div class="td-lines"></div>
                </span>
              </td>
              <td >100% Belgian </td>
            </tr>
            <tr>
              <td style="padding: 0px;">
                <span class="group-line-dot">
                <span style="font-size: 30px;">.</span>
                  <div class="td-lines"></div>
                </span>
              </td>
              <td>10°</td>

            </tr>
          </table>
        </div>
    </div>
  <!-- </div> -->

</div>