.header-product{
    height: 797px;
    background-color: white;
}
.our-products{
    font-size: 60px;
    color: #B09142;
    position: relative;
    top: 100px;
}
.contain-line {
    background-color: #000000;
    width: 52px;
    /* margin-right: 621px; */
    position: relative;
    top: 95px;
    right: 55px;
  }
  
  .contain-line2 {
    background-color: #000000;
    width: 52px;
    position: relative;
    top: 78px;
    left: 57px;

  }
  .bottle-pro {
    left: 10px;
    position: relative;
    top: 20px;   
  }
  .prod{
     
      margin-top: 80px;
  }
  .prod-1 {
    width: 600px;
    height: 470px;
    background-color: #000000;
    position: relative;
    top: 75px;
  }
  .prod-2 {
    width: 600px;
    height: 470px;
    background-color: #000000;
    position: relative;
    top: 75px;
    left: 25px;  
  }
  .left-prod-1 {
    width: 622px;
    height: 470px;
    position: absolute;
    left: 0;
    opacity:0.14901960784313725;
  }
  .tripple-div {
    right: 15px;
    background-color: #DBDCDE;
    height: 177px;
    width: 51px;
    position: relative;
    top: 293px;
  }
  .font-trip {
    font-size: 20px;
    color: #231F20;
    text-align: center;
    top: 78px;
    position: relative;
    display:block;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
  }
  .font-trip1 {
    font-size: 20px;
    color: #231F20;
    text-align: center;
    top: 100px;
    position: relative;
    display:block;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
  }
  .instruct {
    //   width: 174px;
    //   height: 113px;
    color: white;

  }
  .cl-32 {
      color:#FFFFFF;
      position: relative;
      left: 90px;
  }
  .line{
    width: 48px;
    height: 47px;
    border-bottom: 1px solid white;
    position: absolute;
    top: 143px;
    left: 153px;
}
.group-line-dot {
    position: relative;
    bottom: 10px;
}
.td-text {
    float: right;
}

td {
    border: none;

}
.td-lines {
    display: inline-block; 
    width: 48px;
    height: 2px;
    background-color: #FFFFFF;  
    border: none;
}
.td-lines1 {
    display: inline-block; 
    width: 48px;
    height: 2px;
    background-color: #f02424;  
}
.black-bottle {
    position: absolute;
    bottom: 50px;
    right: 25px;
}
.black-bottle1 {
    position: absolute;
    bottom: 130px;
    right: 178px;
}
.black-bottle-right {
    position: absolute;
    bottom: 50px;
    left: 85px;
}
.black-bottle-right1 {
    position: absolute;
    bottom: 130px;
    left: 230px;
    -webkit-transform: rotate(-180deg); 
    -moz-transform: rotate(-180deg); 
}

