<div class=" full-banner container-fluid">
    <div class="row  banner-bg">
        
        <div class="col-md-1">
            <div class="pre-next-btn text-center">PR <br> EV</div>
         </div>
            <div class="col-md-4">
               <div class="khuliz-text">
                   <p class="legend-kuliz">
                       
                    Legend KLUIZ
                   </p>
                   <p class="legend-kuliz1">
                    <b> IKLUIZ IS A CRAFT BREWERY</b>
                   </p>
                   <p class="legend-kuliz2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when <br> an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   </p>
               </div>
            </div>
            <div class="col-md-6">
            <img class="glass-bottle-img" src="~/../assets/banner/Layer 21@1X.png" alt="">
            </div>
            
            <div class="col-md-1">
                <div class="next-pre-btn text-center">NE <br> XT</div>
            </div>
     
    </div>

</div>
