<div class="container-fluid">
    <div class="row visit-main text-center">
                <div class="target-bg-img text-center">
                <p class="our-target"> <b>OUR <span style="color: black;">TARGET</span></b> </p> 
                <hr class="contain-line">
                <hr class="contain-line2">
          
                <p class="legend-kluiz1">
                  <img src="../../assets/visit-us-now/Forma 1@1X.png" width="18" height="33" alt="" />
                </p>     
                <img src="../../assets/our-target/20180513_120930@1X.png" alt="">   
                <p class="text-white" style="font-size:16px; width: 632px; top: 125px; left: 470px;">
                    inform people about our company, promote our products. The targeted person: 35-65 yrear. Lorem Ipsum is simply dummy text of the 
printing and typesetting industry. 
the 1500s, when an unknown printer took a galley. <br><br>
<button class="btn mr-5 border round text-white" style="  border-radius: 40px;">Visit Now</button>
                </p>
        </div>
    </div>

</div>