<div class="container-fluid top-contain">
    <div class="row main-contain">
        <div class="offset-md-2 col-md-4">
            <div class="beer-glass-bottle-div">
                <img src="../../assets/contain-site/affiche_V2@1X.png" class="beer-glass-bottle-img"  alt="Cinque Terre">
            </div>
        </div>
        <div class="col-md-6 text-center">
            <p class="legend-kluiz">
                <b> LEGEND <span style="color: black;"> KLUIZ</span> </b>
               
            </p>
            <hr class="contain-line">
            <hr class="contain-line2">

            <p class="legend-kluiz1">
              <img src="../../assets/contain-site/Forma 1@1X.png" width="18" height="33" alt="" />
            </p>
            <p class="legend-kluiz2">
                En l’an 620, le prince Salvaert de Dijon traverse la forêt Sans-Merci pour se rendre en Angleterre avec sa femme, enceinte, Ermengaert. Il se fait attaquer par le Comte Phinaert. Toute la caravane est tuée sauf Ermengaert qui 
accouche de son fils de frayeur. L’enfant est recueilli par un ermite local qui lui donnera son nom, Liedericq (Lydéric). Adulte, après avoir vengé la mort de son père, il fonde la cité de Lille et devient le premier Comte des Flandres. Kluiz vient du mot Kluizenaar traduit « l’ermite ». Le lieu-dit s’appelle encore 
aujourd’hui Mont de l’Enclus – Kluisbergen en Belgique.
            </p>
        </div>
    </div>
</div>