<table class="table">
  <thead>
    <tr>
      <td scope="col"><app-header></app-header></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><app-banner></app-banner></td>
    </tr>
    <tr>
      <td scope="row"><app-contain-site></app-contain-site></td>
    </tr>
    <tr>
      <td scope="row"><app-our-brewery></app-our-brewery></td>
    </tr>
    <tr>
      <td scope="row"><app-visit-box></app-visit-box></td>
    </tr>
    <tr>
      <td scope="row"><app-our-products></app-our-products></td>
    </tr>
    <tr>
      <td scope="row"><app-visit-us></app-visit-us></td>
    </tr>
    <tr>
      <td scope="row"><app-footer></app-footer></td>
    </tr>
  </tbody>
</table>


<!-- <router-outlet></router-outlet> -->